/* aqui dar o reset para o navegador */
* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 5px;
    padding: 5px;
    line-height: 0.8;
    background-color: rgb(245, 238, 228);
    font-family: Arial, Helvetica, sans-serif
}
/* estilizar a parte dos titulos */
.titulos {
    margin: 60px;
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}
#tituloPreto {
    padding: 30px;
    background-color: rgba(218, 211, 211, 0.596);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(126, 20, 41);
    text-align: center;
}
#subtitulo {
    margin: 50px;
    padding: 3px;
    font-size: 30px;
    background-color: rgb(245, 238, 228);
    line-height: 0.2px;
    text-align: center;
}
/* configurando a navegação */
ul {
    margin: 10px;
    padding: auto;
    line-height: 1;
    text-decoration: none;
    color: inherit;
}

.menu {
    list-style: none;
    display: flex;
    padding: 15px 0;
    justify-content: center;
    text-decoration: none;
    color: inherit;
}

.menu li {
    display: inline;
    margin: 0 10px;
    text-decoration: none;
    color: inherit;
}
/* tirar quando o link fica roxo após clicar */
a:link, a:visited {
    color: inherit;
    text-decoration: none;
}
/*estilizando a linha horizontal*/
hr {
    background-color: rgb(102, 54, 102);
    margin: 30px 10px;
    border: none;
    height: 3px;
    display: block;
    margin-block-end: 0.5em;
    margin-block-start: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    unicode-bidi: isolate;
    overflow: hidden;
}
/* estilizando o footer*/
.rodape {
    text-align: center;
    background-color: rgba(83, 48, 90, 0.959);
    color: aliceblue;
    padding: 30px;
    display: block;
    unicode-bidi: isolate;
    margin-top: 30px;
    margin-bottom: 0;
}
/* configurnado as imagens do código*/
#imagemPrincipal {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}
.imagens2 {
    margin-left: auto;
    margin-right: auto;
    margin: 30px;
    padding-bottom: 500px;
    display: block;
}
.ftoVinhos {
    margin: 50px;
    padding: 40px;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*configurnado o article*/
article {
    display: block
}
/*configurando o texto da historia*/
#historia p {
    font-size: 17.7px;
    line-height: 1.8;
    color: #1b0909;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 50px;
    margin-right: 80px;
}

/*ajustando o texto do cqarrinho*/
#txtCarrinho {
    margin: 10px;
    padding: 10px;
}


/*ajeitando ambos os botões que foram usados*/
.botaoCompra {
    display: block;
    background-color: #8b0000;
    color: white;
    padding: 20px 20px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}
.botaoCadastro {
    display: block;
    background-color: #611fa0ab;
    color: white;
    padding: 20px 20px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}
/*estilizando o enfio do form na parte do contato*/
form {
    display: block;
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
}

.contato {
    background-color: #a295a72d;
    padding: 20px;
    width: 320px;
    margin: 50px;
    border: 1px solid #ccc;
    margin-left: auto;
    margin-right: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/*estilizando a tabela usada*/
.tabelas,.tabelas th,.tabelas td {
    padding: 8px;
    border-collapse: collapse;
    border: 1px solid black;
    margin: 20px auto;
    margin-left: auto;
    margin-right: auto;
}